@import url(styles/normalize.css);
@import url(block/page/page.css);
@import url(block/logo/logo.css);
@import url(styles/style.css);
/*header*/
@import url(block/header/header.css);
@import url(block/logo_place_header/logo_place_header.css);
@import url(block/header/__title/header__title.css);
@import url(block/header/__link/header__link.css);
@import url(block/header/__main-illustration/header__main-illustration.css);
@import url(block/header/__square-pic/header__square-pic.css);
@import url(block/header/__subtitle/header__subtitle.css);
/*description*/
@import url(block/description/description.css);
/*two-columns*/
@import url(block/two-columns/two-columns.css);
@import url(block/two-columns/__brief/two-columns__brief.css);
@import url(block/two-columns/__main-text/two-columns__main-text.css);
@import url(block/two-columns/__paragraph/two-columns__paragraph.css);
@import url(block/two-columns/__span-accent/two-columns__span-accent.css);
/*techniques*/
@import url(block/techniques/techniques.css);
/*cards*/
@import url(block/cards/cards.css);
@import url(block/cards/__description/cards__description.css);
@import url(block/cards/__image/cards__image.css);
@import url(block/cards/__item/cards__item.css);
@import url(block/cards/__title/cards__title.css);
/*video*/
@import url(block/video/video.css);
@import url(block/video/__iframes/video__iframes.css);
/*oakley*/
@import url(block/oakley/oakley.css);
/*digits*/
@import url(block/digits/digits.css);
/*khan*/
@import url(block/khan/khan.css);
@import url(block/khan/__author/khan__author.css);
@import url(block/khan/__book-container/khan__book-container.css);
@import url(block/khan/__book-pic/khan__book-pic.css);
@import url(block/khan/__buy-link/khan__buy-link.css);
@import url(block/khan/__container/khan__container.css);
@import url(block/khan/__quote-author-subline/khan__quote-author-subline.css);
@import url(block/khan/__quote-author/khan__quote-author.css);
@import url(block/khan/__quote/khan__quote.css);
@import url(block/khan/__title/khan__title.css);
/*section-subtitle*/
@import url(block/section-subtitle/section-subtitle.css);
@import url(block/section-subtitle/_theme/section-subtitle_theme_dark.css);
/*section-title*/
@import url(block/section-title/section-title.css);
@import url(block/section-title/_theme/section-title_theme_dark.css);
/*table*/
@import url(block/table/table.css);
@import url(block/table/__cell/table__cell.css);
@import url(block/table/__heading/table__heading.css);
@import url(block/table/__text/table__text.css);
/*feynman*/
@import url(block/feynman/feyman.css);
@import url(block/feynman/__link/feynman__link.css);
@import url(block/feynman/__subtitle/feynman__subtitle.css);
@import url(block/feynman/__title/feynman__title.css);
/*kaufman*/
@import url(block/kaufman/kaufman.css);
@import url(block/kaufman/__triangle/kaufman__triangle.css);
/*table*/
@import url(block/table/__theme/table__theme_dark.css);
@import url(block/table/__cell/__theme/table__cell_theme_dark.css);
@import url(block/table/__heading/_theme/table__heading_theme_dark.css);
@import url(block/table/__text/_theme/table__text_theme_dark.css);
/*resources*/
@import url(block/resources/resources.css);
@import url(block/resources/__logo/resources__logo.css);
@import url(block/resources/__logo-zone/resources__logo-zone.css);
/*footer*/
@import url(block/footer/footer.css);
@import url(block/logo_place_footer/logo_place_footer.css);
@import url(block/footer/__author/footer__author.css);
@import url(block/footer/__columns/footer__columns.css);
@import url(block/footer/__columns/_content/_social/footer__column_content_social.css);
@import url(block/footer/__columns/_content/_copyright/footer__column_content_copyright.css);
@import url(block/footer/__links/footer__links.css);
@import url(block/footer/__social-icon/footer__social-icon.css);
@import url(block/footer/__columns/_heading/footer__column-heading.css);
@import url(block/footer/__columns/_links/footer__column-links.css);
@import url(block/footer/__columns/_links/__list-links/footer__column-list-links.css);
