.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color:#2f80ed;
  position: absolute;
  right: 0px;
  z-index: 1;
  top: 0px;
  margin-top: 64px;
}
.logo_place_header{
  position: absolute;
  margin-left: 64px;
  margin-top: 30px;
  top:0;
  background-image: url(../images/logo_place_header.svg);
  width: 183px;
  height: 32px;
}
.header__title{
  width: 730px;
  margin-left: 64px;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
  display: flex;
  z-index: 2;
}
.header__subtitle{
  position: absolute;
  line-height: 25px;
  font-size: 18px;
  width: 388px;
  margin-left: 64px;
  margin-bottom: 30px;
  bottom:0px;
}
.header__link{
  color: #2f80ed;
  text-decoration: none;
}
.header__main-illustration{
  position: absolute;
  background-image: url(../images/header-image.png);
  width:706px ;
  height:600px;
  background-size: contain;
  background-repeat: no-repeat;
  right: 0px;
  bottom: 0px;
  z-index: 2;
}
.description{
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.two-columns{
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.two-columns__brief{
  width: 175px;
  color: #5395ef;
  line-height: 1.2;
  font-size: 18px;
}
.brief{
  margin: 0px;
}
.two-columns__main-text{
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
}
.two-columns__paragraph{
  margin-top: 0px;
  margin-bottom:0px;
}
.two-columns__paragraph:nth-of-type(2n){
  margin-bottom: 30px;
  margin-top: 30px;
}
.span-accent{
  font-weight: bold;
  line-height: 34px;
  font-size: 24px;
}
.digits{
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.digits__section-title{
  width: 60%;
  margin-bottom: 20px;
  height: auto;
}
.digits__section-subtitle{
  width: 60%;
}
.digits__table{
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.digits__table-cell{
  width: 250px;
  margin-top: 60px;
}
.digits__table-cell-heading{
  margin-bottom: 20px;
  font-weight: bold;
  line-height: 1.15;
  font-size: 24px;
}
.digits__table-cell-text{
  font-weight: normal;
  line-height: 1.2;
  font-size: 18px;
}
.cell-text-bank{
  margin-top: 20px;
  margin-bottom: 0px;
}
.section-title-content{
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}
.section-subtitle-content{
  text-align: center;
  font-weight: normal;
  line-height: 34px;
  font-size: 24px;
  margin: 0;
}
.feynman{
  display: flex;
  flex-direction: column;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position:left bottom;
  background-size: 857px 637px;
  height: 790px;
  background-color: #f2f2f2;
  position: relative;
}
.feynman__title{
  align-self: center;
  width: 648px;
  text-align: center;
  margin-bottom: 70px;
  margin-top: 100px;
}
.feynman__title-text{
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  margin: 0px;
}
.feynman__subtitle{
  align-self: center;
}
.feynman__subtitle-text{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 0px;
}
.feynman__link{
  right: 48px;
  width: fit-content;
  position: absolute;
  margin-top: 395px;
}
.feyman__link-text{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;

}
.kaufman{
  display: flex;
  flex-direction: column;
  background-color: #1f1f1f;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.section-title__theme_dark{
  margin-top: 90px;
  margin-bottom: 20px;
  width: 60%;
  margin-bottom: 20px;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  color: white;
}
.section-subtitle__theme_dark{
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: white;
}
.table__theme_dark{
  margin-bottom: 90px;
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 3;
}
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
.table__heading_theme_dark{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.table__text_theme_dark{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.kaufman__triangle{
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0px;
  background-image: url(../images/kaufman-triangle.svg);
}
.footer{
  padding-top: 60px;
  padding-bottom: 40px;
  min-height: 350px;
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
}
.footer__columns{
  width: 90%;
  margin-top: 60px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__colums_content_copyright{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 771px;
}
.logo__place_footer{
  background-image: url(../images/logo_place_footer.svg);
  width: 183px;
  height: 35px;
}
.footer__author{
  color: white;
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.footer__colums_content_info{
  display: flex;
  flex-direction: column;

}
.footer__column-heding{
  color: white;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}
.footer__column-links{
  color: white;
  margin-bottom: 16px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}
.footer__colums_content_social{
  color: white;
  display: flex;
  flex-direction: column;
}
.social_heading{
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}
.social_link{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin-bottom: 16px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}
.footer__social-icon{
  display: flex;
  color: white;
  margin-bottom: 10px;
  text-decoration: none;
}
.social-icon{
  align-self: center;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
