.logo{
  width: 183px;
}
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color:#2f80ed;
  position: absolute;
  right: 0px;
  z-index: 0;
  top: 64px;
}
.logo_place_header{
  position: absolute;
  left: 64px;
  top: 30px;
  background-image: url(../images/logo_place_header.svg);
  height: 32px;
}
.header__title{
  max-width: 730px;
  margin:0;
  margin-left: 64px;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
  display: flex;
  z-index: 2;
}
.header__subtitle{
  margin:0;
  position: absolute;
  line-height: 25px;
  font-size: 18px;
  max-width: 388px;
  left: 64px;
  bottom: 30px;
  z-index: 2;
}
.header__link{
  color: #2f80ed;
  text-decoration: none;
}
.header__link:hover{
  text-decoration: none;
  color: gold;
}
.header__main-illustration{
  position: absolute;
  width:706px;
  height:600px;
  background-size: contain;
  background-repeat: no-repeat;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}
.description{
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.two-columns{
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.two-columns__brief{
  margin:0;
  width: 175px;
  color:  #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.two-columns__main-text{
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
}
.two-columns__paragraph{
  margin:0;
}
.two-columns__paragraph:nth-of-type(2n){
  margin-bottom: 30px;
  margin-top: 30px;
}
.two-columns__span-accent{
  font-weight: bold;
  line-height: 34px;
  font-size: 24px;
}
.digits{
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section-title{
  margin:0;
  width: 60%;
  margin-bottom: 20px;
  height: auto;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}
.section-subtitle{
  margin:0;
  width: 60%;
  text-align: center;
  font-weight: normal;
  line-height: 34px;
  font-size: 24px;
}
.table{
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.table__cell{
  width: 250px;
  margin-top: 60px;
}
.table__heading{
  margin:0;
  font-weight: bold;
  line-height: 1.15;
  font-size: 24px;
}
.table__text{
  margin:0;
  margin-top: 20px;
  font-weight: normal;
  line-height: 1.2;
  font-size: 18px;
}
.feynman{
  display: flex;
  flex-direction: column;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position:left bottom;
  background-size: 857px 637px;
  height: 790px;
  background-color: #f2f2f2;
  position: relative;
}
.feynman__title{
  margin:0;
  align-self: center;
  width: 648px;
  text-align: center;
  margin-bottom: 70px;
  margin-top: 100px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

.feynman__subtitle{
  margin:0;
  align-self: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}
.feynman__link{
  right: 48px;
  width: fit-content;
  position: absolute;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}
.feynman__link:hover{
  right: 48px;
  width: fit-content;
  position: absolute;
  margin-top: 395px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color:gold;
  text-decoration: none;
}
.kaufman{
  display: flex;
  flex-direction: column;
  background-color: #1f1f1f;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.section-title_theme_dark{
  margin:0;
  margin-top: 90px;
  margin-bottom: 20px;
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  color: white;
}
.section-subtitl_theme-dark{
  margin:0;
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: white;
}
.table_theme_dark{
  margin-bottom: 90px;
  z-index: 1;
}
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
.table__heading_theme_dark{
  margin:0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.table__text_theme_dark{
  margin:0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.kaufman__triangle{
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0px;
  background-image: url(../images/kaufman-triangle.svg);
}
.footer{
  padding-top: 60px;
  padding-bottom: 40px;
  min-height: 350px;
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
}
.footer__columns{
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__column_content_copyright{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 771px;
}
.logo_place_footer{
  background-image: url(../images/logo_place_footer.svg);
  height: 35px;
}
.footer__author{
  margin:0;
  color: white;
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.footer__column_content_social{
  color: white;
}
.footer__column-heading{
  margin:0;
  color: white;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}
.footer__column-links{
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
}
.footer__column-list-links{
  padding: 0px;
  margin: 0px;
  list-style-type:none;
}
.footer__links{
  color: white;
  text-decoration: none;
}
.footer__links:hover{
  color: gold;
  text-decoration: none;
}
.footer__social-icon{
  align-self: center;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

