.feynman__link{
  right: 48px;
  width: fit-content;
  position: absolute;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}
.feynman__link:hover{
  right: 48px;
  width: fit-content;
  position: absolute;
  margin-top: 395px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color:gold;
  text-decoration: none;
}
